#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.test {
  margin-top: 150px;
}

.container {
  width: 1200px;
  margin: auto;
}

.indicators {
  display: flex;
  width: 100%;
  height: 10px;
  gap: 10px;
}

.indicators .indicator{
  background-color: #b8b8b8;
  width: 100%;
}
.indicators .indicator.disabled{
  background-color: #070707;
}
.indicators .indicator.active{
  background-color: #c43940;
}

.tabs {
  display: flex;
  width: 100%;
}

.tabs .tab {
  width: 100%;
  height: 100%;
}

.tabs .tab .tab-content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 15px;
}

.tabs .tab .tab-content .description {
  font-size: 18px;
}

.tabs .tab .tab-content form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tabs .tab .tab-content form .form-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tabs .tab .tab-content form .error {
  color: #c43940;
}

.tabs .tab .tab-content form label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.tabs .tab .tab-content form input[type="checkbox"], 
.tabs .tab .tab-content form input[type="radio"] {
  width: 15px;
  height: 15px;
}
.tabs .tab .tab-content form textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 200px;
  padding: 5px 5px 5px 25px;
  font-size: 16px;
}

.tabs .tab .tab-content form input[type="text"] {
  padding: 5px 5px 5px 25px;
  width: 450px;
  font-size: 16px;
}
.tabs .tab .tab-content form button {
  width: 250px;
  color: #fff;
  background-color: #c43940;
}


